<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <h1>Todo List: </h1><!--main page heading-->
    <ul class="todoItems"><!--create list-->
    <% for(let i=0; i < items.length; i++) {%><!--start a for loop-->
        <li class="item"><!--create a list item-->
            <% if(items[i].completed === true) {%><!--condition if list item is completed-->
                <span class='completed'><%= items[i].thing %></span><!--assign completed class and display-->
            <% }else{ %><!--condition is not completed-->
                <span><%= items[i].thing %></span><!--display without assigning the class-->
            <% } %>    <!--end the conditional-->
            <span class='fa fa-trash'></span><!--add a trash can-->
        </li><!--end of the list item-->
    <% } %><!--end for loop-->
    </ul><!--end list-->

    <h2>Left to do: <%= left %></h2><!--secondary heading-->

    <h2>Add A Todo:</h2>

    <form action="/addTodo" method="POST">
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
